@charset "UTF-8";
/* CSS Document */

/* Styles for overall html */

html {
  height: 100%;
  width: 100%;
}

/* Styles for body section */

body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #0348a3;
}

/* Styles for header section */

header {
  display: flex;
  position: fixed;
  top: 0;
}

/* Styles for nav section */

header nav {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.navbar-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.home-nav img {
  width: 50%;
  padding-top: 70px;
}

.navbar-header ul {
  display: flex;
  justify-content: space-between; 
  width: 45%;
  list-style: none;
}

.navbar-header a {
  font-family: 'Avenir';
  font-weight: 900;
  font-size: 1vw;
  color: #0348a3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styles for information section */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.icon {
  max-width: 15%;
  max-height: 15%;
}

.information {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 50%;
  height: auto;
  font-family: 'Avenir';
  background-color: #0348a3;
}

.information-content {
  margin-bottom: 32px;
  color: #ffffff;
}

.information-content .profile {
  display: block;
  margin: 2px auto;
  max-width: 50%;
  max-height: 50%;
}

.information-content .work {
  display: block;
  margin: 2px auto;
  margin-top: 30px;
  max-width: 70%;
  max-height: 70%;
}

.information-content .buddy-size {
  display: block;
  margin: 2px auto;
  margin-top: 30px;
  max-width: 85%;
  max-height: 85%;
}

.information-content .work-titles {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 120px;
}

.information-content p { 
  text-align: justify;
  text-justify: inter-word;
  font-size: 17px;
}

.information-content .contact-info {
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .information-content p { 
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .information-content p { 
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .information-content p { 
    font-size: 8px;
  }
}
